

.numeros{

    list-style-type: none;
    text-decoration:none;
    border-radius: 5px;
}
.lista{
  background-color: rgb(208, 172, 241); 
  height: 5px;
  width: 5px;
  font-family: cursive;
  text-decoration-line: none;
  text-decoration:none;
  border-radius: 5px;
 margin-inline: 10px;
display: inline;
margin-top: 2px;
margin-bottom: 100px;
}
.letras{
  font-family: cursive;
  font-weight: bold;
  font-size: 15px;
}