.videocards {
    background-color: rgb(18, 19, 18);
    margin: 20px;
    border-radius: 5%;
border-style: solid;
border-color: rgb(70, 241, 2);
    width: 6rem;
    height: 6rem;
    text-align: center;
    font-size: 8px;
    color: beige;
    font-family: cursive;
    text-decoration-line: none;
    text-decoration: none;
    
  }
  .containerCard{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }
  .cards {
    flex-wrap: wrap;
    background-attachment: fixed;
    text-decoration: none;
    align-items:flex-end;
   
    text-align: center;
  
  }


  .cardTitle {
    text-align:center;
    font-family:cursive;
font-weight: bold;
  color: rgba(212, 186, 38, 0.945);
    font-size: 7 px;
   text-decoration: none;

    margin-bottom: 5px;
    margin-top: 0pt;
  }
  .cardData {
    text-align:center;
    font-family:cursive;
font-weight: bold;
  color: rgba(212, 186, 38, 0.945);
    font-size: 5 px;
    font-style: italic;
    text-decoration-line: none;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 0pt;
  }
  


  #closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;
  }
  
  .card-body {
    
    margin-top: 20px !important;
    padding-top: 20px !important;
  }
  .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .row {
    flex-wrap: wrap;
    background-attachment:fixed;
    display:flex;
    justify-content: center;
  }